@charset "utf-8";
	.Links
{
	font-family : Lato;
	font-weight : bold;
	font-size : 24px;
	color : #FF0000;
	color : rgb(255, 0, 0);
}
.x3C_Slice_x3E_
{
	position : absolute ;
	left : -1px;
	top : 221px;
	width : 479px;
	height : 361px;
}
.XMLID_1_
{
	background-image : url(XMLID_1_.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 104px;
	top : 1312px;
	width : 60px;
	height : 61px;
}
.XMLID_8_
{
	background-image : url(XMLID_8_.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 317px;
	top : 1312px;
	width : 60px;
	height : 61px;
}
.XMLID_14_
{
	background-image : url(XMLID_14_.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 1523px;
	top : 1313px;
	width : 60px;
	height : 60px;
}
.XMLID_22_
{
	background-image : url(XMLID_22_.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 1612px;
	top : 1312px;
	width : 61px;
	height : 60px;
}
.Links1
{
	font-family : Lato;
	font-weight : bold;
	font-size : 24px;
	color : #FF0000;
	color : rgb(255, 0, 0);
}
.H21
{
	font-family : Lato;
	font-weight : bold;
	font-size : 50px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.H2
{
	font-family : Lato;
	font-weight : bold;
	font-size : 50px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.XMLID_7_
{
	background-image : url(XMLID_7_.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 211px;
	top : 1313px;
	width : 60px;
	height : 60px;
}
.XMLID_9_
{
	background-image : url(XMLID_9_.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 1433px;
	top : 1312px;
	width : 61px;
	height : 61px;
}
.H22
{
	font-family : Lato;
	font-weight : bold;
	font-size : 50px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.x3C_Slice_x3E__2_
{
	position : absolute ;
	left : 0px;
	top : 945px;
	width : 478px;
	height : 336px;
}
.NormalCharacterStyle
{
	font-family : Lato;
	font-weight : bold;
	font-size : 72px;
	color : #4D4D4D;
	color : rgb(77, 77, 77);
}
.NormalCharacterStyle2
{
	font-family : Lato;
	font-weight : bold;
	font-size : 14px;
	line-height : 24px;
	color : #4D4D4D;
	color : rgb(77, 77, 77);
}
.x3C_Slice_x3E__1_
{
	position : absolute ;
	left : 0px;
	top : 588px;
	width : 478px;
	height : 341px;
}
.NormalCharacterStyle1
{
	font-family : Lato;
	font-weight : bold;
	font-size : 14px;
	line-height : 24px;
	color : #4D4D4D;
	color : rgb(77, 77, 77);
}
